@{
  Layout = "_Layout";

}

<body>
    <div class="container-fluid">
        <h2>Venues</h2>

    <form action="/venues/@Model.GetId()/edit" method="post">
      <label for="new-venuename">Name:</label>
      <input type="text" name="new-venuename" value="@Model.GetVenueName()" required>
      <button type="submit">Update</button>
    </form>
    <br>
    <h4><a href="/viewcategories">Category</a></h4>
    <h4><a href="/">Home</a></h4>
  </div>
