@{
    Layout = "_Layout";
}


<body>
    <div class="container-fluid">
        <h1><strong>Band Tracker</strong></h1>
        <h3><a href="/viewcategories"><em>Check Out</em></a></h4>
    </div>
</body>
