@{
  Layout = "_Layout";
}

<body>
    <div class="container-fluid">
        <h1><strong>Band Tracker</strong></h1>
        <h3>Data has been recorded!</h3>
        <p><a href="/bands/new">Add a new Band</a></p>
        <p><a href="/venues/new">Add a new Venue</a></p>
        <p><a href="/bands">List of Bands</a></p>
        <p><a href="/venues">List of Venues</a></p>

        <h4><a href="/viewcategories">Category</a></h4>
        <h4><a href="/">Home</a></h4>
    </div>
</body>
