@{
    Layout = "_Layout";
}


<body>
    <div class="container-fluid">
        <h2>Venues</h2>
        @if (Model.Count != 0)
        {
            @foreach (var venue in Model)
            {
                <h4><a href="/venues/@venue.GetId()">@venue.GetVenueName() | <a href="/venues/@venue.GetId()/edit">Edit</a>
          | <a href="/venues/@venue.GetId()/delete">Delete</a> </h4>
            }
        }
        <br>
        <h4><a href="/venues/new">Add a new Venue</a></h4>
        <h4><a href="/viewcategories">Return to Category</a></h4>
        <h4><a href="/">Home</a></h4>
    </div>
</body>
