@{
    Layout = "_Layout";
}


<body>
    <div class="container-fluid">
        <h2>Venues</h2>
        <h2>Add new Venue</h2>
        <hr />
        <form action="/venues/new" method="post">
          <label for="venue-name">Venue Name:</label>
          <input id="venue-name" name="venue-name" type="text" required>
          <button type="submit">Add</button>
        </form>
        <br>
        <h4><a href="/viewcategories">Category</a></h4>
        <h4><a href="/">Home</a></h4>
    </div>
</body>
