@{
  Layout = "_Layout";
}
<body>
    <div class="container-fluid">
        <h1>Band Tracker</h1>
        <h3><a href="/bands">View Bands</a></h3>
        <h3><a href="/venues">View Venues</a></h3>
        <br>
        <h4><a href="/">Home</a></h4>

    </div>

</body>
